{% extends 'project/layout.html' %}

{% block title %}Add task to project{% endblock %}

{% block content %}
    <h1>Add new task to project #{{ project.id }}: {{ project.name }}</h1>
    {% if error_msg %}
        <span class="fieldError">{{ error_msg }}</span>
    {% endif %}

    <form method="post" action="{% url 'tasks:add_task_to_project' project.id %}">
        {% csrf_token %}
        <fieldset>
            <legend>Task information</legend>

            <table>
                <tr>
                    <td><label for="supertask">Supertask:</label></td>
                    <td>
                        <select name="supertask" id="supertask">
                            <option value="">(No supertask)</option>
                            {% for task in tasks %}
                                {% if supertask == task.id %}
                                    <option value="{{ task.id }}" selected>
                                {% else %}
                                    <option value="{{ task.id }}">
                                {% endif %}
                                #{{ task.id }}: {{ task.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" name="name" id="name" value="{{ name }}" required="required" /></td>
                </tr>
                <tr>
                    <td><label for="description">Description:</label></td>
                    <td><textarea name="description" id="description">{{ description }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="work_start">Work start date:</label></td>
                    <td><input type="date" name="work_start" id="work_start" value="{{ work_start }}"></td>
                </tr>
                <tr>
                    <td><label for="work_end">Work end date:</label></td>
                    <td><input type="date" name="work_end" id="work_end" value="{{ work_end }}"></td>
                </tr>
                <tr>
                    <td><label for="priority">Priority:</label></td>
                    <td>
                        <select name="priority" id="priority">
                            {% for prio in priorities %}
                                {% if prio.0 == priority %}
                                    <option value="{{ prio.0 }}" selected>{{ prio.1 }}</option>
                                {% else %}
                                    <option value="{{ prio.0 }}">{{ prio.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="responsible_people">Responsible people:</label></td>
                    <td>
                        <select name="responsible_people" id="responsible_people" multiple="multiple"
                                required="required">
                            {% for teammate in project.team.all %}
                                {% if teammate.username in responsible_people %}
                                    <option value="{{ teammate.username }}" selected>
                                        {{ teammate.username }}
                                    </option>
                                {% else %}
                                    <option value="{{ teammate.username }}">{{ teammate.username }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>

        </fieldset>
        <input type="submit" value="Add task" />
    </form>
{% endblock %}