{% extends 'project/layout.html' %}

{% block title %}Delete task{% endblock %}

{% block content %}
    <h2>Delete task #{{ task.id }}: {{ task.name }}</h2>
    <span>Are you sure you want to delete this task? All subtasks will also be deleted.</span>
    <form method="post" action="{% url 'tasks:delete_task' task.id %}">
        {% csrf_token %}
        <input type="submit" value="Yes, delete it."/>
    </form>
{% endblock %}