{% extends 'project/layout.html' %}

{% block title %}Edit task{% endblock %}

{% block content %}
    <h1>Edit task {{ task.name }}</h1>

    <form method="post" action="{% url 'tasks:edit_task' task.id %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Save changes" />
    </form>
{% endblock %}