{% extends 'project/layout.html' %}

{% block title %}View project's short tasks{% endblock %}

{% block content %}
    <h1>View short tasks of project</h1>

    <table class="rwd-table">
        {% for task in tasks %}
            <tr>
                <td>#{{ task.id }}: {{ task.name }}</td>
                <td>
                    {% if task.work_start %}
                        From <span class="date">{{ task.work_start|date }}</span>
                    {% endif %}
                    {% if task.work_end %}
                        Till <span class="date">{{ task.work_end|date }}</span>
                    {% endif %}
                </td>
                <td>Priority:
                    <span class="priority{{ task.get_priority_display }}">
                        {{ task.get_priority_display }}
                    </span>
                </td>
                <td class="boldBig">
                    {% if task.is_closed %}
                        {{ task.is_closed|yesno:"Closed,No" }}
                    {% endif %}
                </td>
                <td>
                    {% if not task.supertask %}
                        {{ task.task_set.count }} subtask{{ task.task_set.count|pluralize }}
                    {% endif %}
                </td>
                <td><a href="{% url 'tasks:view_task' task.id %}">More info</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}