{% extends 'project/layout.html' %}

{% block title %}View project tasks{% endblock %}

{% block content %}
    <h1>View project tasks</h1>
    <a href="{% url 'tasks:view_short_tasks' project.id %}">View short tasks (less than a week)</a><br />
    {% if isAdmin %}
        <a href="{% url 'tasks:add_task_to_project' project.id %}">Create new task</a><br /><br />
    {% endif %}

    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs();
        })
    </script>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">My tasks</a></li>
            <li><a href="#tabs-2">My subtasks</a></li>
            <li><a href="#tabs-3">All tasks</a></li>
        </ul>

        <div id="tabs-1">
            {% if my_tasks %}
            <table class="rwd-table">
                {% for task in my_tasks %}
                    <tr>
                        <td>#{{ task.id }}: {{ task.name }}</td>
                        <td>
                            {% if task.work_start %}
                                From <span class="date">{{ task.work_start|date }}</span>
                            {% endif %}
                            {% if task.work_end %}
                                Till <span class="date">{{ task.work_end|date }}</span>
                            {% endif %}
                        </td>
                        <td>Priority:
                    <span class="priority{{ task.get_priority_display }}">
                        {{ task.get_priority_display }}
                    </span>
                        </td>
                        <td class="boldBig">
                            {% if task.is_closed %}
                                {{ task.is_closed|yesno:"Closed,No" }}
                            {% endif %}
                        </td>
                        <td>
                            {{ task.task_set.count }} subtask{{ task.task_set.count|pluralize }}
                        </td>
                        <td><a href="{% url 'tasks:view_task' task.id %}">More info</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <i>No primary tasks</i>
            {% endif %}
        </div>

        <div id="tabs-2">
            {% if my_subtasks %}
            <table class="rwd-table">
                {% for task in my_subtasks %}
                    <tr>
                        <td>#{{ task.id }}: {{ task.name }}</td>
                        <td>
                            {% if task.work_start %}
                                From <span class="date">{{ task.work_start|date }}</span>
                            {% endif %}
                            {% if task.work_end %}
                                Till <span class="date">{{ task.work_end|date }}</span>
                            {% endif %}
                        </td>
                        <td>Priority:
                            <span class="priority{{ task.get_priority_display }}">
                                {{ task.get_priority_display }}
                            </span>
                        </td>
                        <td class="boldBig">
                            {% if task.is_closed %}
                                {{ task.is_closed|yesno:"Closed,No" }}
                            {% endif %}
                        </td>
                        <td><a href="{% url 'tasks:view_task' task.id %}">More info</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <i>No subtasks.</i>
            {% endif %}
        </div>

        <div id="tabs-3">
            <table class="rwd-table">
                {% for task in tasks %}
                    <tr>
                        <td>#{{ task.id }}: {{ task.name }}</td>
                        <td>
                            {% if task.work_start %}
                                From <span class="date">{{ task.work_start|date }}</span>
                            {% endif %}
                            {% if task.work_end %}
                                Till <span class="date">{{ task.work_end|date }}</span>
                            {% endif %}
                        </td>
                        <td>Priority:
                            <span class="priority{{ task.get_priority_display }}">
                                {{ task.get_priority_display }}
                            </span>
                        </td>
                        <td class="boldBig">
                            {% if task.is_closed %}
                                {{ task.is_closed|yesno:"Closed,No" }}
                            {% endif %}
                        </td>
                        <td>
                            {{ task.task_set.count }} subtask{{ task.task_set.count|pluralize }}
                        </td>
                        <td><a href="{% url 'tasks:view_task' task.id %}">More info</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}