{% extends 'project/layout.html' %}

{% block title %}View task{% endblock %}

{% block content %}
    <h1>Task #{{ task.id }}: {{ task.name }}</h1>

    {% if error_msg %}
        <span class="fieldError">{{ error_msg }}</span><br />
    {% endif %}

    {% if isAdmin %}
        <a href="{% url 'tasks:delete_task' task.id %}">Delete task</a>
        <a href="{% url 'tasks:edit_task' task.id %}">Edit task</a><br /><br />

        <script type="text/javascript">
            function deleteFile(url) {
                var form = $("#deleteFileForm");
                form.prop('action', url);
                form.submit();
            }
        </script>
        <form method="post" id="deleteFileForm">
            {% csrf_token %}
        </form>
    {% endif %}

    <fieldset>
    <legend>Task information</legend>
    <table>
        {% if task.supertask %}
        <tr>
            <td>Supertask:</td>
            <td><a href="{% url 'tasks:view_task' task.supertask.id %}">
                #{{ task.supertask.id }}: {{ task.supertask.name }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td>Description:</td>
            <td>
                {% if task.description %}
                    {{ task.description }}
                {% else %}
                    <i>No description</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Timing:</td>
            <td>
                {% if task.work_start %}
                    From <span class="date">{{ task.work_start|date }}</span>
                {% endif %}
                {% if task.work_end %}
                    Till <span class="date">{{ task.work_end|date }}</span>
                {% endif %}
                {% if task.work_end and task.is_outdated %}
                    <span class="outdated">(PAST DEADLINE)</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td class="priority{{ task.get_priority_display }}">{{ task.get_priority_display }}</td>
        </tr>
        <tr>
            <td>Responsible people:</td>
            <td>
                <ul>
                    {% for person in task.responsible_people.all %}
                        <li><a href="{% url 'users:view_profile' person.id %}">{{ person }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% if task.is_closed %}
            <tr class="boldBig">
                <td>Closed:</td>
                <td>{{ task.is_closed|yesno:"Closed,No" }}</td>
            </tr>
        {% endif %}
    </table>
    </fieldset>

    {% if isAdmin or isResponsible %}
        <form method="post" action="{% url 'tasks:close_task' task.id %}">
            {% csrf_token %}
            <br/>
            {% if task.is_closed %}
                <input type="hidden" name="close_task" value="0" />
                <input type="submit" value="Reopen task"/>
            {% else %}
                <input type="hidden" name="close_task" value="1" />
                <input type="submit" value="Close task"/>
            {% endif %}
        </form>
        <br/>
    {% endif %}

    {% if subtasks %}
        <h3>Subtasks</h3>
        <table class="rwd-table">
        {% for subtask in subtasks %}
            <tr>
                <td>#{{ subtask.id }}: {{ subtask.name }}</td>
                <td>
                    {% if subtask.work_start %}
                    From <span class="date">{{ subtask.work_start|date }}</span>
                    {% endif %}
                    {% if subtask.work_end %}
                    Till <span class="date">{{ subtask.work_end|date }}</span>
                    {% endif %}
                </td>
                <td>Priority:
                    <span class="priority{{ subtask.get_priority_display }}">
                        {{ subtask.get_priority_display }}
                    </span>
                </td>
                <td class="boldBig">
                {% if subtask.is_closed %}
                    {{ subtask.is_closed|yesno:"Closed,No" }}
                {% endif %}
                </td>
                <td><a href="{% url 'tasks:view_task' subtask.id %}">More info</a></td>
            </tr>
        {% endfor %}
        </table>
    {% elif not task.supertask %}
        <br />
        <i>No subtasks</i>
    {% endif %}

    {% if task.taskfile_set.all %}
    <h3>Task files</h3>
    <table class="rwd-table">
        {% for file in task.taskfile_set.all %}
            <tr>
                <td>{{ file.add_date|date }}</td>
                <td>Added by <a href="{% url 'users:view_profile' file.person_added.id %}">
                    {{ file.person_added.username }}</a></td>
                <td>Comment: {{ file.comment }}</td>
                <td><a href="{% url 'tasks:download_file' file.id %}">Download</a></td>
                {% if isAdmin %}
                <td><a href="javascript:deleteFile('{% url 'tasks:remove_task_file' file.id %}');">
                    Delete file</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br />

    <div id="fileAdd">
        <h3>Add file to task</h3>
        <form method="post" action="{% url 'tasks:add_file_to_task' task.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin-bottom: 10px;">
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <input type="file" name="file" />
            </div>
            <div>
            <label for="comment">Comment</label>: <textarea name="comment"></textarea>
            <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
{% endblock %}