{% extends 'project/layout.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
    <h1>Login Page</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Log In" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("#id_username").prop('required', 'required');
            $("#id_password").prop('required', 'required');
        });
    </script>
{% endblock %}