{% extends 'project/layout.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h1>Registration</h1>

    <form method="post" action="{% url 'users:registration' %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Register" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("#id_username").prop('required', 'required');
            $("#id_password").prop('required', 'required');
            $("#id_email").prop('required', 'required');
            $("#id_repeat_password").prop('required', 'required');
            $("span[class=helptext]").remove();
        });
    </script>
{% endblock %}