{% extends 'project/layout.html' %}

{% block title %}User profile{% endblock %}

{% block content %}
    <h1>User profile</h1>

    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    {% if profile.avatar %}
        <img src="{{ MEDIA_URL }}{{ profile.avatar.url }}" id="avatar">
    {% endif %}

    <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Save changes" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("#id_email").prop('required', 'required');
        });
    </script>
{% endblock %}