{% extends 'project/layout.html' %}

{% block title %}View profile{% endblock %}

{% block content %}
    <h1>User {{ profile.user.username }}'s profile</h1>
    {% if profile.avatar %}
        <img src="{{ MEDIA_URL }}{{ profile.avatar.url }}" id="avatar">
    {% endif %}

    <table>
        {% if profile.email %}
            <tr>
                <td>E-Mail:</td>
                <td>{{ profile.email }}</td>
            </tr>
        {% endif %}
        {% if profile.firstName %}
            <tr>
                <td>First name:</td>
                <td>{{ profile.firstName }}</td>
            </tr>
        {% endif %}
        {% if profile.firstName %}
            <tr>
                <td>Last name:</td>
                <td>{{ profile.lastName }}</td>
            </tr>
        {% endif %}
        {% if profile.speciality %}
            <tr>
                <td>Speciality:</td>
                <td>{{ profile.speciality }}</td>
            </tr>
        {% endif %}
        {% if profile.company %}
            <tr>
                <td>Company:</td>
                <td>{{ profile.company }}</td>
            </tr>
        {% endif %}
        {% if profile.country %}
            <tr>
                <td>Country:</td>
                <td>{{ profile.country }}</td>
            </tr>
        {% endif %}
        {% if profile.city %}
            <tr>
                <td>City:</td>
                <td>{{ profile.city }}</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}