{% extends 'project/layout.html' %}

{% block title %}Add milestone{% endblock %}

{% block content %}
    <h1>Add new milestone</h1>

    <form method="post" action="{% url 'projects:add_milestone' form.project.value %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("#id_name").prop('required', 'required');
            $("#id_due_date").prop('required', 'required');
            $("#id_responsible_people").prop('required', 'required');
        });
    </script>
{% endblock %}