{% extends 'project/layout.html' %}
{% load staticfiles %}

{% block title %}Add person{% endblock %}

{% block content %}
    <h1>Add new person to the project</h1>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        .ui-autocomplete {
            font-size: 14px;
        }
        .ui-autocomplete-loading {
            background: white url("{% static 'project/images/ui-anim_basic_16x16.gif' %}") right center no-repeat;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $("#id_participant").autocomplete({
                minLength: 3,
                source: "{% url 'projects:get_usernames' project.id %}"
            });
        })
    </script>

    <form method="post" action="{% url 'projects:add_person' form.project.value %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("#id_participant").prop('required', 'required');
            $("#id_appointment").prop('required', 'required');
        });
    </script>
{% endblock %}