{% extends 'project/layout.html' %}

{% block title %}Add link{% endblock %}

{% block content %}
    <h1>Add new link</h1>

    <form method="post" action="{% url 'projects:create_link' project_id %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("#id_url").prop('required', 'required');
            $("#id_description").prop('required', 'required');
        });
    </script>
{% endblock %}