{% extends 'project/layout.html' %}

{% block title %}Choose project{% endblock %}

{% block content %}
    <h2>Projects you participate in</h2>
    {% if projects %}
    <table class="rwd-table">
        {% for pp in projects %}
            <tr>
                <td><a href="{% url 'projects:view_project' pp.project.id %}">{{ pp.project.name }}</a></td>
                <td>{{ pp.appointment }}</td>
                <td>{{ pp.get_role_display }}</td>
                {% if pp.role == 'ADMIN' %}
                <td>
                    <a href="{% url 'projects:delete_project' pp.project.id %}">Delete</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <i>No projects to display.</i>
    {% endif %}
{% endblock %}