{% extends 'project/layout.html' %}
{% load staticfiles %}

{% block title %}Create new project{% endblock %}

{% block content %}
    <h1>Create new project</h1>
    <span id="errSpan" style="visibility: hidden; color: red;">
        Work start date can't be greater than the work end date.
    </span>
    <form method="post" action="{% url 'projects:create_project' %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Create" />
    </form>

    <script type="text/javascript" src="{% static 'project/js/create_project.js' %}"></script>
{% endblock %}