{% extends 'project/layout.html' %}

{% block title %}Deleting project{% endblock %}

{% block content %}
    <h1>Delete project {{ project.name }}</h1>

    <form method="post" action="{% url 'projects:delete_project' project.id %}">
        {% csrf_token %}
        <span>
            Are you sure you want to delete this project?
            After this you can't have it back.
            All project's files and data will be deleted.
        </span>
        <input type="submit" value="Delete forever" />
    </form>
{% endblock %}