{% extends 'project/layout.html' %}

{% block title %}Edit milestone{% endblock %}

{% block content %}
    <h1>Edit milestone</h1>

    <form method="post" action="{% url 'projects:edit_milestone' milestone_id %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Save changes" />
    </form>
{% endblock %}