{% extends 'project/layout.html' %}

{% block title %}Operation restricted{% endblock %}

{% block content %}
    <h1>Operation access restricted</h1>
    <h3>You have no access to perform this operation since you're not an admin of this project.</h3>
{% endblock %}