{% extends 'project/layout.html' %}
{% load staticfiles %}

{% block title %}Project Team{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'project/js/project_team.js' %}"></script>
    <script type="text/javascript">
        {% if not isAdmin %}
            $(function() {
                $("input[type=radio]").prop('disabled', true);
            });
        {% endif %}

        appointmentChangeUrl = "{% url 'projects:change_user_appointment' %}";
        csrfToken = "{{ csrf_token }}";
    </script>

    <form method="post" id="excludeUserForm"
          action="{% url 'projects:delete_person_from_project' project.id %}">
        {% csrf_token %}
        <input type="hidden" name="participant_id" id="participant_id" />
    </form>

    <h1>Project {{ project.name }} Team</h1>

    {% if error_msg %}
        <span style="color: red;">{{ error_msg }}</span><br />
    {% endif %}

    {% if isAdmin %}
        <a href="{% url 'projects:add_person' project.id %}">Add person to the project</a>
    {% endif %}

    <table class="rwd-table">
        <tr>
            <th>Participant</th>
            <th>Appointment</th>
            <th>Role</th>
            {% if isAdmin %}
                <th>Exclude</th>
            {% endif %}
        </tr>
        {% for participant in participants.all %}
            <tr>
                <td>
                    <a href="{% url 'users:view_profile' participant.participant.id %}">
                        {{ participant.participant.username }}
                    </a>
                </td>
                <td>
                    {% if isAdmin %}
                        <input type="text" value="{{ participant.appointment }}"
                               onblur="changeAppointment({{ participant.id }}, this)">
                    {% else %}
                        {{ participant.appointment }}
                    {% endif %}
                </td>
                <td>
                    {% for choice in role_choices %}
                        {% if participant.role == choice.0 %}
                            <input type="radio" name="role{{ participant.id }}"
                                   onclick="changeRole('{% url 'projects:change_user_role' participant.id %}', '{{ choice.0 }}')"
                                   id="choice{{ participant.participant.id }}{{ choice.0 }}" checked>{{ choice.1 }}
                        {% else %}
                            <input type="radio" name="role{{ participant.id }}"
                                   onclick="changeRole('{% url 'projects:change_user_role' participant.id %}', '{{ choice.0 }}')"
                                   id="choice{{ participant.participant.id }}{{ choice.0 }}">{{ choice.1 }}
                        {% endif %}
                        <!-- Restrict user admin changing his own role -->
                        {% if participant.participant.id == user.id %}
                            <script type="text/javascript">
                                $(function() {
                                    $("#choice" + "{{ participant.participant.id }}" + "{{ choice.0 }}")
                                            .prop('disabled', true);
                                });
                            </script>
                        {% endif %}
                    {% endfor %}
                </td>
                {% if isAdmin and user.id != participant.id %}
                <td>
                    <a href="javascript:excludeUser({{ participant.id }});">
                        Exclude user
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}