{% extends 'project/layout.html' %}

{% block title %}Project restricted{% endblock %}

{% block content %}
    <h1>Project access restricted</h1>
    <h3>You have no access to this project.</h3>
{% endblock %}