{% extends 'project/layout.html' %}

{% block title %}Application statistics{% endblock %}

{% block content %}
    <h1>Application Statistics</h1>

    <table>
        <tr>
            <td>Average count of tasks in your projects:</td>
            <td><b id="avg_val_proj">{{ avg_val_in_your_projects.0 }}</b></td>
        </tr>
        <tr>
            <td>Average count of tasks in entire application:</td>
            <td><b id="avg_val_app">{{ avg_val_in_all_projects.0 }}</b></td>
        </tr>
        <tr>
            <td>Projects started in the last 12 months:</td>
            <td>
                <ul>
                {% for mon in project_in_last_months %}
                    <li>{{ mon.0 }} - {{ mon.1 }} project{{ mon.1|pluralize }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Most popular positions in your projects:</td>
            <td>
                <ul>
                {% for pos in most_popular_appointments_in_your_projects %}
                    <li>{{ pos.0 }} - {{ pos.1 }} job{{ pos.1|pluralize }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Most popular positions in entire application:</td>
            <td>
            <ul>
            {% for pos in most_popular_appointment_in_app %}
                <li>{{ pos.0 }} - {{ pos.1 }} job{{ pos.1|pluralize }}</li>
            {% endfor %}
            </ul>
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        $(function() {
            $("#avg_val_proj").html(parseFloat($("#avg_val_proj").html()).toFixed(2));
            $("#avg_val_app").html(parseFloat($("#avg_val_app").html()).toFixed(2));
        });
    </script>
{% endblock %}