{% extends 'project/layout.html' %}

{% block title %}View project links{% endblock %}

{% block content %}
    <h1>Project {{ project.name }} links</h1>
    <a href="{% url 'projects:create_link' project.id %}">Create new link</a>
    {% if isAdmin %}
        <script type="text/javascript">
            function deleteLink(link_id) {
                var form = $("#deleteLinkForm");
                form.find("#link_id").val(link_id);
                form.submit();
            }
        </script>
        <form method="post" action="{% url 'projects:delete_link' %}" id="deleteLinkForm">
            {% csrf_token %}
            <input type="hidden" id="link_id" name="link_id" />
        </form>
    {% endif %}

    <table class="rwd-table">
        <tr>
            <th>URL</th>
            <th>Publisher</th>
            <th>Date of publishing</th>
            <th>More</th>
            {% if isAdmin %}
            <th>Delete</th>
            {% endif %}
        </tr>
        {% for link in project.projectlink_set.all %}
            <tr>
                <td><a href="{{ link.url }}">{{ link.url }}</a></td>
                <td><a href="{% url 'users:view_profile' link.publisher.id %}">
                    {{ link.publisher.username }}</a></td>
                <td>{{ link.publish_date|date }}</td>
                <td><a href="{% url 'projects:edit_link' link.id %}">More</a></td>
                {% if isAdmin %}
                <td><a href="javascript:deleteLink({{ link.id }});">Delete</a></td> <!-- Make it delete via JS -->
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}