{% extends 'project/layout.html' %}

{% block title %}View project{% endblock %}

{% block content %}
    <h1>Project Dashboard</h1>

    {% if project.projectdashboardnotification_set.all %}
        <table class="rwd-table">
            <tr>
                <th>Event date</th>
                <th>Text</th>
                <th>Event author</th>
            </tr>
            {% for notif in notifications %}
                <tr>
                    <td>{{ notif.event_date }}</td>
                    <td>{{ notif.text }}</td>
                    <td>
                        <a href="{% url 'users:view_profile' notif.event_author.id %}">
                            {{ notif.event_author }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <i>No notifications yet</i>
    {% endif %}
{% endblock %}