{% extends 'project/layout.html' %}

{% block title %}View milestone{% endblock %}

{% block content %}
    <h1>View milestone {{ milestone.name }}</h1>
    {% if isAdmin %}
    <script type="text/javascript">
        function deleteMilestone() {
            $("#deleteMilestoneForm").submit();
        }
    </script>
    <form method="post" id="deleteMilestoneForm" action="{% url 'projects:delete_milestone' milestone.id %}">
        {% csrf_token %}
    </form>
    <a href="javascript:deleteMilestone();">Delete milestone</a><br /> <!-- Activate on click the form above using JS -->
    <a href="{% url 'projects:edit_milestone' milestone.id %}">Edit milestone</a>
    <br /><br />
    {% endif %}

    <table>
        <tr>
            <td>Project:</td>
            <td><a href="{% url 'projects:view_project' milestone.project.id %}">
                {{ milestone.project.name }}</a></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ milestone.name }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ milestone.description }}</td>
        </tr>
        <tr>
            <td>Due date:</td>
            <td>{{ milestone.due_date|date }}</td>
        </tr>
        <tr>
            <td>Responsible people:</td>
            <td>
                <ul>
                    {% for person in milestone.responsible_people.all %}
                        <li>
                        <a href="{% url 'users:view_profile' person.id %}">{{ person.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}