{% extends 'project/layout.html' %}

{% block title %}View milestones{% endblock %}

{% block content %}
    <h1>View project {{ project.name }} milestones</h1>
    <a href="{% url 'projects:add_milestone' project.id %}">Create new milestone</a>
    {% if project.projectmilestone_set.all %}
    <table class="rwd-table">
        <tr>
            <th>Name</th>
            <th>Due date</th>
            <th>More info</th>
        </tr>
            {% for milestone in project.projectmilestone_set.all %}
                <tr>
                    <td>{{ milestone.name }}</td>
                    <th>{{ milestone.due_date|date }}</th>
                    <td><a href="{% url 'projects:view_milestone' milestone.id %}">More info</a></td>
                </tr>
            {% endfor %}
    </table>
    {% else %}
        <br/><i>No milestones to display.</i>
    {% endif %}
{% endblock %}