#header {
    height: 35px;
    border-bottom: 1px solid black;
}

#menu {
    display: inline;
    float: right;
}

#app-name {
    display: inline;
    font-size: 20px;
    color: blue;
}

#app-name .head-link {
    text-decoration: none;
}

#left-side {
    float: left;
    width: 300px;
    margin-left: -300px;
    min-height: 200px;
}

#content {
    margin: 10px 0 20px 10px;
    font-family: Courier, serif;
    font-size: 14px;
    float: right;
    width: 96%;
}

#content_notfloat {
    margin: 10px 0 20px 10px;
    font-family: Courier, serif;
    font-size: 14px;
}

#footer {
    border-top: 1px solid black;
    font-size: 14px;
}

#page {
    margin-left: 300px;
}

#clearingDiv {
    clear: both;
}

#avatar {
    width: 250px;
}

.fieldError {
    color: red;
}

.priorityNone {
    color: grey;
}

.priorityLow {
    color: aqua;
}

.priorityMedium {
    color: black;
}

.priorityHigh {
    color: orange;
}

.priorityCritical {
    color: red;
}

.date {
    font-style: italic;
}

.boldBig {
    font-weight: bold;
    font-size: 16px;
}

.outdated {
    color: red;
}

a:visited {
    color: #222a67;
}

input {
    margin: 0px 0px 2px 0px;
}