{% extends 'project/layout.html' %}

{% block title %}User notifications{% endblock %}

{% block content %}
    <h1>Your notifications</h1>
    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs();
        })
    </script>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Unread notifications</a></li>
            <li><a href="#tabs-2">Read notifications</a></li>
        </ul>

        <div id="tabs-1">
            {% if unread_notifs %}
            <table class="rwd-table">
                <tr>
                    <th>Project</th>
                    <th>Text</th>
                    <th>Event date</th>
                    <th>Event author</th>
                </tr>
                {% for notif in unread_notifs.all %}
                    <tr>
                        <td><a href="{% url 'projects:view_project' notif.notification.project.id %}">
                            {{ notif.notification.project.name }}
                        </a></td>
                        <td>{{ notif.notification.text }}</td>
                        <td>{{ notif.notification.event_date }}</td>
                        <td>
                            <a href="{% url 'users:view_profile' notif.notification.event_author.id %}">
                            {{ notif.notification.event_author }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <i>No new notifications.</i>
            {% endif %}
        </div>

        <div id="tabs-2">
            {% if read_notifs %}
            <table class="rwd-table">
                <tr>
                    <th>Project</th>
                    <th>Text</th>
                    <th>Event date</th>
                    <th>Event author</th>
                </tr>
                {% for notif in read_notifs.all %}
                    <tr>
                        <td><a href="{% url 'projects:view_project' notif.notification.project.id %}">
                            {{ notif.notification.project.name }}
                        </a></td>
                        <td>{{ notif.notification.text }}</td>
                        <td>{{ notif.notification.event_date }}</td>
                        <td>
                            <a href="{% url 'users:view_profile' notif.notification.event_author.id %}">
                            {{ notif.notification.event_author }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <i>No notifications yet.</i>
            {% endif %}
        </div>

    </div>

    <script type="text/javascript">
        $(function() {
            $.ajax({
                type: 'POST',
                url: "{% url 'user_notifications:notifications_read' %}",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });
        });
    </script>
{% endblock %}