{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Layout page{% endblock %}</title>
    <script type="text/javascript" src="{% static 'project/jquery/jquery.min.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'project/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/style.css' %}">
</head>
<body>

    <div id="header">
        <span id="app-name">
            <a class="head-link" href="{% url 'start_page' %}">
                {% if project %}
                PMApp - <span title="{{ project.description }}">{{ project.name }}</span>
                {% else %}
                PMApp
                {% endif %}
            </a>
        </span>
        <div id="menu">
            {% if user.is_anonymous %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'users:registration' %}">Register</a>
            {% else %}
                {% if project %}
                    <a href="{% url 'tasks:view_project_tasks' project.id %}">Tasks</a>
                    <a href="{% url 'projects:project_team' project.id %}">Team</a>
                    <a href="{% url 'projects:view_milestones' project.id %}" style="margin-right: 4px;">
                        Milestones ({{ project.projectmilestone_set.count }})
                    </a>
                    <a href="{% url 'projects:view_links' project.id %}" style="margin-right: 4px;">
                        Links ({{ project.projectlink_set.count }})
                    </a>
                    <a href="{% url 'projects:view_project' project.id %}">Dashboard</a>
                {% else %}
                    <a href="{% url 'projects:view_statistics' %}">Statistics</a>
                    <a href="{% url 'projects:create_project' %}">Create project</a>
                {% endif %}
                <a href="{% url 'projects:choose_project' %}">Choose project</a>
                <a href="{% url 'users:profile' %}">{{ user }}</a>
                <a href="{% url 'logout' %}?next=/">Logout</a>
            {% endif %}
        </div>
    </div>

    <div id="{{ project|yesno:"page," }}">
        <div id="{{ project|yesno:"content,content_notfloat" }}">
            {% block content %}
                Content of application
            {% endblock %}
        </div>

        {% if project %}
            <div id="left-side">
                <h4>The Team</h4>
                <table style="border: 1px solid black;">
                    {% for teammate in project.projectparticipant_set.all %}
                        <tr>
                            <td>
                            {% if teammate.role == 'ADMIN' %}
                                <img src="{% static 'project/images/admin.png' %}" title="Administrator">
                            {% endif %}
                            </td>
                            <td>
                            <a href="{% url 'users:view_profile' teammate.participant.id %}">
                                {{ teammate.participant.username }}</a>
                            </td>
                            <td>
                             - {{ teammate.appointment }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h4>Timeline</h4>
                From {{ project.work_start }} till {{ project.work_deadline }}
            </div>
            <div id="clearingDiv"></div>

            <script type="text/javascript" src="{% static "project/jquery/jquery.ui.chatbox.js" %}"></script>
            <link rel="stylesheet" href="{% static "project/jquery/jquery.ui.chatbox.css" %}">
            <script type="text/javascript" src="{% static "project/js/chat.js" %}"></script>
            <script type="text/javascript">
                var user = "{{ user }}";
                var token = "{{ csrf_token }}";
                var getChatMessagesUrl = "{% url 'projects:get_chat_messages' project.id %}";
                var addChatMessageUrl = "{% url 'projects:add_chat_message' project.id %}";
            </script>
            <div id="chatBox"></div>
        {% endif %}
    </div>

    <div id="footer">
        Copyright&copy; 2015, Ildar&reg;
    </div>
</body>
</html>