{% extends 'project/layout.html' %}

{% block title %}PMApp Start Page{% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    <h3>This project management application allows you to keep track of your own projects for free!</h3>
    <h3>To start, please <a href="{% url 'login' %}">log in</a>
        or <a href="{% url 'users:registration' %}">register</a>.</h3>
{% endblock %}